  <div class="col-md-8 mb-4">
    <section>
      <!-- Grid row -->
      <div class="row">

          <% for(var i=0;i<products.length;i++) { %>

        <div class="col-md-4 mb-5 pdt">
          <div class="">
            <div class="view zoom overlay rounded z-depth-2">
              <img class="img-fluid w-100" src="/photos/<%= products[i].product_type %>/hotstar.jpg" alt="<%= products[i].name %>"> 
              <% if (products[i].quantity <= 0) { %>
                <%- include('../Includes/out_of_stock.ejs'); %> 
                <% } %> 
            </div>
            <div class="text-center pt-4 pdtName">
              <h5><%= products[i].name %></h5>
              <p>
                  <span class="mr-1">
                      <strong></strong>
                      <strong class="product_price">&#8377;<%= products[i].price %></strong>
                  </span>
              </p>
            </div>
            <!-- Add to cart with quantity -->
            <form action="/add-to-cart/<%= products[i]._id %>" method="POST">
              <div class="product_quantity_layout">
                  <button class="product_quantity_add_remove increase_quantity" type="button" onclick="increment_value(<%-i%>, <%- products[i].quantity_price %>, <%- products[i].threshold_quantity %>)">
                      <svg width="12" height="12" viewBox="0 0 12 12">
                          <path d="M6.5 5.5H12v1H6.5V12h-1V6.5H0v-1h5.5V0h1v5.5z" fill="#000" fill-rule="evenodd">
                          </path>
                      </svg>
                  </button>
                  <div class="product_quantity">
                      <div class="product_input">
                          <input aria-label="Quantity" type="number" min="1" max="<%= products[i].quantity %>" step="1" value="1" name="quantity" class="input">
                      </div>
                  </div>
                  <button class="product_quantity_add_remove decrease_quantity" type="button" onclick="decrement_value(<%-i%>, <%- products[i].price %>, <%- products[i].threshold_quantity %>)" class="decrement_button">
                      <svg width="12" height="2" viewBox="0 0 12 2">
                          <path d="M0 1.5v-1h12v1z" fill=" #d6d6d6" fill-rule="evenodd" class="decrease_quantity_path"></path>
                      </svg>
                  </button>
              </div>
                  <button class="product_item_add_to_cart" type="submit">
                      <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                      <span>Add to Cart</span>
                  </button>
          </form>
          </div>
        </div> 
        <% } %> 

      </div>
    </section>
  </div>
</div>