<%- include('../Includes/header.ejs') %> 

</head>

<body>
    <%- include('../Includes/navigation_bar.ejs') %>
    <h1><%= pageTitle %></h1>

    <form action="/login/shop/rana_disposal", method="POST">
      <input type="hidden" value="<%= csrfToken %>" name="_csrf">
        <div class="form-group">
          <label for="exampleInputEmail1">Your Name</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Name">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
      </form>
    
<%- include('../Includes/footer.ejs') %> 