<%- include('../Includes/header.ejs') %> 

</head>

<body>
    <%- include('../Includes/admin_navigation_bar.ejs') %> 
    <h1>EDIT PRODUCT</h1>
    <form action="/shop/rana_disposal/edit/<%= id %>" method="POST">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Enter Product Name" value="<%= name %>">
            <label for="price">Price</label>
            <input type="number" name="price" placeholder="Enter Product's Price" value="<%= price %>">
            <label for="price">Quantity Price</label>
            <input type="number" name="quantity_price" placeholder="Enter Product's Price" value="<%= quantity_price %>">
            <label for="quantity">Quantity</label>
            <input type="number" name="quantity" placeholder="Enter Product's Quantity" value="<%= quantity %>">
        <!-- Choose a product image -->
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div>
        <button class="btn btn-outline-dark">Modify</button>
    </form>
<%- include('../Includes/footer.ejs') %>