<%- include ('../Includes/header'); -%> 
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/orders.css">
</head>

<body>
    <%- include ('../Includes/admin_navigation_bar'); -%> 
    <% if (orders.length == 0) { %>
      <h1>No Orders Yet !</h1>
      <% } else { %>
        <form style="text-align: center;">
          <input type="text" id="myInput" onkeyup="searchName()" placeholder="Search by names.." title="Type in a name">
          
          <select id="month">
            <option value="hide">-- Month --</option>
            <option value="1" rel="icon-temperature">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select> 
        
        <select id="year">
            <option value="hide">-- Year --</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
        </select>


          <button type="button" onclick="filter()">Go</button>
        </form>
        <table>
          <thead class="head">
            <tr>
              <th scope="col">Business Name</th>
              <th scope="col">Phone Number</th>
              <th scope="col" class="order_id">Order Id</th>
              <th scope="col">Date of Purchase</th>
              <th scope="col">Total Price</th>
            </tr>
          </thead>
          <tbody>
            <% orders.forEach(order => { %> 
            <tr class="customer_info" onclick="window.location.href='/shop/rana_disposal/order/<%= order._id %>'">
              <td data-label="Business Name" class="name"><%= order.user.name %></td>
              <td data-label="Phone Number"><%= order.phonenumber ? order.phonenumber : "N/A" %></td> 
              <td data-label="Order Id" class="order_id"><%= order._id %> </td>
              <td data-label="Date of Purchase" class="dop"><%= order.date %> </td>
              <td data-label="Total Price"><%= order.cart.totalPrice %> </td>
            </tr>
            <% }); %> 
          </tbody>
        </table>
      <% } %>
      
      <script  type="text/javascript" src="/javascript/admin_order.js"></script>
    
<%- include ('../Includes/footer'); -%> 