<%- include('../Includes/header.ejs') %>

<link rel="stylesheet" type="text/css" href="/css/cart.css">

</head>

<body>
    <%- include('../Includes/navigation_bar.ejs') %>

    <main class="main-content" role="main">
        <div class="wrapper">
            <div class="grid">
                <div class="grid__item large--five-sixths push--large--one-twelfth">
                    <header class="section-header text-center">
                        <h1 class="text-center">Your cart</h1>
                        <hr class="hr--small">
                        <% if (cart.items.length == 0) { %> 
                            <p class="cart--empty-message">Your cart is empty.</p>
                        <% } %> 
                    </header>
                    <% if (cart.items.length > 0) { %> 
                        <form action="/cart/rana_disposal/checkout/" method="POST" class="cart">
                            <div class="cart__row medium-down--hide cart__header-labels">
                                <div class="grid--full">
                                    <div class="grid__item large--two-fifths push--large--three-fifths">
                                        <div class="grid--full">
                                            <div class="grid__item one-third medium-down--half text-center">
                                                Quantity
                                            </div>
                                            <div class="grid__item two-thirds medium-down--half text-right">
                                                Total
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% for(let i=0;i<cart.items.length;i++) { %>
                                <div class="cart__row">
                                    <div class="grid--full cart__row--table-large">
                                        <div class="grid__item large--three-fifths">
                                            <div class="grid">
                                                <div class="grid__item one-third">
                                                    <img src="/photos/sample.jpg" alt="<%= cart.items[i].productName %>" class="cart__image">
                                                </div>
                                                <div class="grid__item two-thirds">
                                                    <p class="h4 cart__product-name">
                                                        <%= cart.items[i].productName %> 
                                                    </p>
                                                    <p class="cart__product-meta">
                                                        <a href="/cart/remove/<%= cart.items[i].productId %>">
                                                            Remove
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid__item large--two-fifths cart__pricing">
                                            <div class="grid--full cart__row--table">
                                                <div class="grid__item one-third text-center">
                                                    <div class="js-qty">
                                                        <button type="button"
                                                            class="js-qty__adjust js-qty__adjust--minus icon-fallback-text decrease_quantity" onclick="decrement_value(<%- i %>, <%- cart.items[i].price %>, <%- cart.items.length %>, <%- cart.items[i].quantityPrice %>)">
                                                            <span class="quantity_inc_dec" aria-hidden="true">−</span>
                                                        </button>
                                                        <input type="text" class="js-qty__num input" value="<%= cart.items[i].quantity %>" min="1"
                                                            pattern="[0-9]*" name="quantity">
                                                        <button type="button"
                                                            class="js-qty__adjust js-qty__adjust--plus icon-fallback-text" onclick="increment_value(<%- i %>, <%- cart.items[i].price %>, <%- cart.items.length %>, <%- cart.items[i].quantityPrice %>)">
                                                            <span class="quantity_inc_dec" aria-hidden="true">+</span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="grid__item two-thirds text-right">
                                                    <span class="cart__price">&#8360;</span>
                                                    <span class="cart__price price"><%= (cart.items[i].price * cart.items[i].quantity) %></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }; %>
                            <div class="cart__row cart__row--last">
                                <div class="grid--full cart__row--table-large">
                                    <div class="grid__item large--five-twelfths text-center large--text-right push--large--seven-twelfths">
                                        <div class="grid--full cart__row--table">
                                            <div class="grid__item one-half large--two-thirds large--text-center">
                                                <p class="cart__subtotal">Subtotal</p>
                                            </div>
                                            <div class="grid__item one-half large--one-third">
                                                <p class="cart__subtotal" id="total" name="totalPrice">&#8360; <%= cart.totalPrice %></p>
                                            </div>
                                        </div>
                                        <button type="submit" name="update" class="btn--secondary update-cart">
                                            Update Cart
                                        </button>
                                        <button type="submit" name="checkout" class="btn cart__checkout">
                                            Check Out 
                                            <span class="icon icon-arrow-right">&#8594;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                        </form> 
                    <% } %> 
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="/javascript/cart_func.js"></script>
    

<%- include('../Includes/footer.ejs') %>