<%- include ('../Includes/header'); -%> 
<link rel="stylesheet" href="/css/shop.css" type="text/css">
<link rel="stylesheet" href="/css/searchbar.css" type="text/css">

<body>
    <%- include ('../Includes/navigation_bar'); -%>
    <!-- <h6 class="shop_heading" style="text-align:center;font-size:23px">
        <span class="shop_heading_1">
            <span style="letter-spacing:0.1em;">
                Shop
            </span>
        </span>
    </h6> -->
    <div class="search_container">
        <input id="bar" class="searchbar" type="text" placeholder="Search..." onkeyup="searchFunction()" name="search">
        <a id="btnSearch" class="btn-search"><i class="fa fa-search"></i></a>
      </div>
    <% if (products.length > 0) { %>
      <ul class="product_list_layout" id="list_of_products">
        <% for(var i=0;i<products.length;i++) { %>
            <% if (query == products[i].product_type) { %>
                <li class="product_list_item" onclick="showProductDetails()">
                    <div class="product_item_layout">
                        <div class="product_image_layout">
                            <div class="product_image">
                                <img src="/photos/<%= products[i].product_type %>/hotstar.jpg" alt="<%= products[i].name %>">
                            </div>
                        </div>
                        <div class="product_item_details">
                            <span class="product_name"><%= products[i].name %></span>
                            <div class="product_price">
                                <span class="price actualPrice">Rs. <%= products[i].price %></span>
                                <span class="price quntityPrice" style="display: none;">Rs. <%= products[i].quantity_price %></span>
                            </div>
                            <!-- COLOR -->
                            <!-- <div class="product_price">
                                <span class="color">
                                    Color &nbsp;
                                    <ul style="list-style-type: none; display: inline-block; position: relative;">
                                        <li>
                                            <label class="_1sm4P" data-hook="color-sample">
                                                <span class="UZE8T" style="background-color: rgb(189, 79, 79);"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="_1sm4P" data-hook="color-sample">
                                                <span class="UZE8T" style="background-color: rgb(6, 84, 201);"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="_1sm4P" data-hook="color-sample">
                                                <span class="UZE8T" style="background-color: rgb(189, 79, 79);"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="_1sm4P" data-hook="color-sample">
                                                <span class="UZE8T" style="background-color: rgb(6, 84, 201);"></span>
                                            </label>
                                        </li>
                                    </ul>
                                </span>
                            </div> -->
                            <!-- SIZE -->
                            <!-- <div class="product_price">
                                <span class="size">
                                    Size
                                </span>
        
                            </div> -->
                        </div>
        
                        <form action="/add-to-cart/<%= products[i]._id %>" method="POST">
                            <div class="product_quantity_layout">
                                <button class="product_quantity_add_remove increase_quantity" type="button" onclick="increment_value(<%- i %>, <%- products[i].quantity_price %>, <%- products[i].threshold_quantity %>)">
                                    <svg width="12" height="12" viewBox="0 0 12 12">
                                        <path d="M6.5 5.5H12v1H6.5V12h-1V6.5H0v-1h5.5V0h1v5.5z" fill="#000" fill-rule="evenodd">
                                        </path>
                                    </svg>
                                </button>
                                <div class="product_quantity">
                                    <div class="product_input">
                                        <input aria-label="Quantity" type="number" min="1" max="<%= products[i].quantity %>" step="1" value="1" name="quantity" class="input">
                                    </div>
                                </div>
                                <button class="product_quantity_add_remove decrease_quantity" type="button" onclick="decrement_value(<%- i %>)" class="decrement_button">
                                    <svg width="12" height="2" viewBox="0 0 12 2">
                                        <path d="M0 1.5v-1h12v1z" fill="#000" fill-rule="evenodd" class="decrease_quantity_path"></path>
                                    </svg>
                                </button>
                            </div>
                                <button class="product_item_add_to_cart" type="submit">
                                    <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                                    <span>Add to Cart</span>
                                </button>
                        </form>
                    </div>
                </li>
            <% } %> 
        <% } %> 
      </ul>
    <% } %>


    <script type="text/javascript" src="/javascript/shop_functionality.js"></script>
    <script  type="text/javascript" src="/javascript/searchbar_func.js"></script>

<%- include ('../Includes/footer'); -%>   