<%- include ('../Includes/header'); -%> 
<link rel="stylesheet" href="/css/shop.css" type="text/css">

<body>
    <%- include ('../Includes/navigation_bar'); -%>
    <h1>Shop</h1>
    <% if (products.length > 0) { %>
      <ul class="product_list_layout">
        <% products.forEach(function (prod) { %>
          <li class="product_list_item">
            <div class="product_item_layout">
                <div class="product_image_layout">
                    <div class="product_image">
                        <img src="https://images.unsplash.com/photo-1600372774086-aae8c8585e3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="<%= prod.name %>">
                    </div>
                </div>
                <div class="product_item_details">
                    <span><%= prod.name %></span>
                    <div class="product_price">
                        <span class="price" id="price">Rs. <%= prod.price %></span>
                    </div>
                </div>
                <form action="/add-to-cart/<%= prod._id %>" method="GET">
                    <div class="product_quantity_layout">
                        <button class="product_quantity_add_remove increase_quantity" aria-label="Add Quantity" id="add" type="button" onclick="increment_value(prod._id)">
                            <svg width="12" height="12" viewBox="0 0 12 12">
                                <path d="M6.5 5.5H12v1H6.5V12h-1V6.5H0v-1h5.5V0h1v5.5z" fill="#000" fill-rule="evenodd">
                                </path>
                            </svg>
                        </button>
                        <div class="product_quantity">
                            <div class="product_input">
                                <input aria-label="Quantity" type="number" min="1" max="<%= prod.quantity %>" step="1" value="1" name="quantity" class="input">
                            </div>
                        </div>
                        <button class="product_quantity_add_remove decrease_quantity" aria-label="Remove Quantity" id="remove" type="button">
                            <svg width="12" height="2" viewBox="0 0 12 2">
                                <path d="M0 1.5v-1h12v1z" fill="#000" fill-rule="evenodd" class="decrease_quantity_path"></path>
                            </svg>
                        </button>
                    </div>
                        <button class="product_item_add_to_cart" type="submit">
                            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                            <span>Add to Cart</span>
                        </button>
                </form>
            </div>
        </li>
        <% }); %> 
      </ul>
    <% } %>

<%- include ('../Includes/footer'); -%>   